#background{
    height: 100%;
    top: 0;
}

#header{
    padding: 0;
    width: 1440px;
    align-content: center;
}

#header .perfil{
    position: absolute;
    width: 290px;
    height: 290px;
    left: 131px;
    top: 315px;
}

#header .logo{
    position: absolute;
    width: 120.86px;
    height: 81px;
    left: 98px;
    top: 68px;
}

#menu ul li a {
    padding: 2px 10 px;
    display: inline-block;
    text-decoration: none;
    margin-left: 0;
    margin-right: 40px;
}

#carteira, #planos, #loja {
    color: var(--white);
}

#home {
    color: var(--white);
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    border-bottom: 3px solid var(--white);
}

#divMenu div span{
    color: var(--white);
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
}

#header p{
    position: absolute;
    width: 540px;
    height: 106px;
    left: 750px;
    top: 232px;

    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 106.2%;

    color: var(--white);
}

#header span{
    position: absolute;
    width: 518px;
    height: 69px;
    left: 750px;
    top: 349px;

    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 116.2%;
    color: var(--white);
}

#header button{
    position: absolute;
    width: 314px;
    height: 56px;
    left: 751px;
    top: 432px;
    border: none;
    background: var(--orange);
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: var(--white);
}

#perfil{
    position: absolute;
    width: 800px;
    height: 274px;
    left: 409px;
    top: 590px;
}

#pacotes{
    position: absolute;
    width: 1167.14px;
    height: 444px;
    left: 130px;
    top: 920px;
}

#metas{
    position: absolute;
    width: 1167px;
    height: 874.28px;
    left: 98px;
    top: 1440px;
}

#intercambio{
    position: absolute;
    width: 1133px;
    height: 437px;
    left: 142px;
    top: 2370px;
}

#amigos{
    position: absolute;
    width: 1063px;
    height: 504px;
    left: 136px;
    top: 2890px;
}

#experience360{
    position: absolute;
    width: 1063px;
    height: 504px;
    left: 136px;
    top: 3499px;
}